.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  .modal_form {
    
    padding: 2rem 12px;
    border-radius: 8px;
    max-width: 500px;
    text-align: left;
  }
  
  
  .modal {
    background: white;
border-radius: 8px;
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #0D8E7C;
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 600;
      font-family: "Plus Jakarta sans-serif";
      padding: 8px 6px 8px 12px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      h2 {
        margin: 0;
      }
      .close-button {
        background: none;
        color: #ffffff;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
    .photo-upload {
      text-align: center;
      margin: 0rem 0px 1rem 0px;
      .photo-placeholder {
        width: 100px;
        height: 100px;
        background: #DCDBDD;
        border-radius: 50%;
        margin: 0 auto;
        svg {
           margin-top: 30px;
        }
      }
      .upload-button {
        background: none;
        border: none;
        color: #046357;
        cursor: pointer;
        margin-top: 0.5rem;
        font-weight: 600;
        font-size: 12px;
        font-family: Plus Jakarta sans-serif;
      }
    }
    .input-group-container {
      display: flex;
      // justify-content: space-between;
      width: 100%;
      
    .input-group {
      margin: 12px 12px 12px 12px;
    
      label {
        display: block;
        margin-bottom: 0px;
        color: #84818A;
        font-size: 12px;
        font-weight: 400;
        font-family: Plus Jakarta Sans;
      }
      input {
        // padding: 0.5rem;
        padding: 1px 0px;
        width: 100%;
        border: none;
        border-bottom: 1px solid #DCDBDD;
        border-radius: 0;
        // margin: 0px 8px;
       
        &:focus {
          outline: none;
        }
      }
      ::placeholder {
        color: #969696;
        font-size: 12px;
      }
    }
  }
  .input-group-container-select {
    display: flex;
    // justify-content: space-between;
    width: 100%;
    
  .input-group {
    margin: 12px 12px 12px 12px;
  
    label {
      display: block;
      margin-bottom: 0px;
      color: #84818A;
      font-size: 12px;
      font-weight: 400;
      font-family: Plus Jakarta Sans;
    }
    input {
      // padding: 0.5rem;
      padding: 1px 0px;
      width: 100%;
      border: none;
      border-bottom: 1px solid #DCDBDD;
      border-radius: 0;
      // margin: 0px 8px;
     
      &:focus {
        outline: none;
      }
    }
    ::placeholder {
      color: #969696;
      font-size: 12px;
    }
    select {
      // padding: 0.5rem;
      width: 162px;
      padding: 1px 0px;
      border: none;
      border-bottom: 1px solid #DCDBDD;
      border-radius: 0;
      // margin: 0px 8px;
     
      &:focus {
        outline: none;
      }
    }
    ::placeholder {
      color: #969696;
      font-size: 12px;
    }
  }
}
.btn_form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  button {
    background: #046357;
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    // width: 100%;
    border-radius: 4px;
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
  }
}
  
 
  }
  